/*
 * File       : global.css
 * Author     : PMG Korea (KYJ)
 * Version    : CCstrap.1.0
 * Date       : 2021-05-21
 *
 * SUMMARY
 * 1. blind
 * 2. text-ellipsis
 * 3. text-ellipsisClamp
 * 4. media query
*/

@mixin container {
    position:relative;
    width:100%;
    padding:0 8.3vw;
    z-index:2;
}

@mixin blind {
    position:absolute; 
    width: 0;
    height: 0;
    font-size: 0;
    overflow:hidden;
    z-index:-1;
}

@mixin text_blind {
    font-size: $font_size_small;
    text-indent:-9999px;
    visibility: hidden;
}
@mixin pos_center {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin image_center {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

/*
* text-ellipsis 한 줄 말줄임
* @include text-ellipsis;
*/
@mixin text-ellipsis() {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

/*
* text-ellipsisClamp 여러 줄 말줄임
* @include text-ellipsisClamp(2, 24px);
*/
@mixin text-ellipsisClamp($line, $line-height) {
    display: -webkit-box;
    max-height: $line * $line-height;
    line-height:$line-height;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -wekbit-line-clamp: $line;
    word-wrap:break-word;
}

/* Media Query */

// 1920px PC Full
@mixin pc_full {
    @media screen and (max-width:$desktop_full_width) {
        @content;
    }
}

// 1680px PC Size Large
@mixin pc_size_l {
    @media screen and (max-width:$desktop_l_width) {
        @content;
    }
}

// 1440px PC Size Small
@mixin pc_size_m {
    @media screen and (max-width:$desktop_m_width) {
        @content;
    }
}

// 1280px PC Size Small
@mixin pc_size_s {
    @media screen and (max-width:$desktop_s_width) {
        @content;
    }
}

// 1024px Tablet
@mixin tablet_l {
    @media screen and (max-width:$tablet_l_width) {
        @content;
    }
}

// 768px Tablet 
@mixin tablet_ss {
    @media screen and (max-width:$tablet_ss_width) {
        @content;
    }
}

// 480px Mobile
@mixin mobile_l {
    @media screen and (max-width:$mobile_l_width) {
        @content;
    }
}